@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap");

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
